* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff: "Kumbh Sans", sans-serif;
  --fs: 18px;
  --fw-reg: 400;
  --fw-bold: 700;
  --dark-cyan: hsl(185, 75%, 39%);
  --dark-blue: hsl(229, 23%, 23%);
  --dark-grey-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}

body {
  font-family: var(--ff);
  background-image: url(images/bg-pattern-top.svg),
    url(images/bg-pattern-bottom.svg);
  background-color: var(--dark-cyan);
  background-repeat: no-repeat;
  background-position: bottom -44vh right 45vw, top 55vh left 40vw;
}

.card-container {
  width: 90vw;
  height: 60vh;
  margin: 20vh auto;
  text-align: center;
  background-color: white;
  border-radius: 5%;
  overflow: hidden;
}

h4 {
  color: var(--dark-gray);
  font-weight: var(--fw-reg);
  margin: 0.7em;
  margin-bottom: 1em;
}

.card-background {
  background-image: url(images/bg-pattern-card.svg);
  height: 35%;
  margin-bottom: 5.4em;
}

.profile-picture {
  margin-top: 6em;
  border: 0.37em solid white;
  border-radius: 50%;
}

span {
  font-weight: var(--fw-reg);
  color: var(--dark-gray);
}

hr {
  color: var(--dark-gray);
  height: 1px;
  margin-bottom: 2em;
}

.social {
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer {
  margin-bottom: 0%;
}
.attribution {
  font-size: 11px;
  text-align: center;
  bottom: 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  bottom: 0;
}
